* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #EFF6C1;
    --black: #000000;
    --gray: #C4C4C4;
    --white: #FFFFFF;
    --border: #deddc6;
}

::-webkit-input-placeholder {
    color: var(--black);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: var(--black);  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: var(--black);  
 }
 
 :-ms-input-placeholder {  
    color: var(--black);  
 }

body {
    -webkit-font-smoothing: antialiased;
}

.yellow-buscando {
    background-color: var(--background);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: gray;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720) {
    html {
        font-size: 87.5%;
    }
}

.logo {
    display: block;
    margin: 16px auto 0;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 311px;
    margin: 0 auto;
}

form h3 {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    border-radius: 5px;
    padding: 16px;
    outline: none;
    border: 0;
    font-weight: bold;
    color: var(--black);
    width: 100%;
    margin-bottom: 12px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

input[type="checkbox"] {
    border: 1px solid var(--black);
    height: 20px;
    width: 20px;
    margin-right: 16px;
    margin-top: 12px;
}

input[type="button"] {
    background-color: var(--gray);
    color: var(--black);
}

.forgot-password, .new-user {
    color: var(--black);
    align-self: flex-start;
    margin-bottom: 16px;
    text-decoration: none;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 1rem;
}

.social-media button {
    border: 0;
    border-radius: 5px;
    padding: 16px;
    outline: none;
    font-weight: bold;
    background-color: var(--white);
}

a  {
    display: block;
    width: 83vw;
}

.file-group {
    background-color: var(--white);
    width: 100%;
    cursor: pointer;
}

.file-group > label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
}

#file {
    width: 100%;
    border-radius: 5px;
    padding: 16px;
    color: var(--black);
    font-weight: bold;
}

.user-avatar {
    height: 40px;
    width: 40px;
    color: var(--white);
}

.header-map {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    background-color: transparent;
}

.map iframe {
    height: 85vh;
    width: 100vw;
}

.offcanvas {
    width: 200px;
    height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 15px solid var(--border);
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.offcanvas-body nav ul {
    margin-bottom: 8.5rem;
}

.offcanvas-body nav ul li {
    margin-bottom: 0.75rem;
}

.offcanvas-body nav ul li a {
    font-weight: bold;
}

.complement {
    width: 100vw;
    height: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.complement img {
    height: 24px;
    width: 24px;
    margin-right: 13px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin-top: 1rem;
}

.atual-location, .complement-text {
    display: flex;
    justify-content: center;
}

.atual-location p, .complement-text p {
    line-height: 1.25;
}

.atual-location img, .complement-text img {
    margin: 0 10px 0 10px;
}

#open-details {
    position: relative;
    top: -0.5rem;
    margin: 0 auto;
    left: auto;
    right: auto;
}

.open-modal {
    position: relative;
    margin: 0 auto;
    top: -3rem;
    background-color: var(--gray);
    width: 200px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

.open-modal p {
    margin-bottom: 0;
}