* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #EFF6C1;
    --black: #000000;
    --gray: #C4C4C4;
    --white: #FFFFFF;
    --border: #deddc6;
    --btn-bg: #FFFA84;
    --light-gray: #DDDDDD;
    --green: #8CC14C;
}

::-webkit-input-placeholder {
    color: var(--black);
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: var(--black);  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: var(--black);  
 }
 
 :-ms-input-placeholder {  
    color: var(--black);  
 }

body {
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: gray;
    display: block;
    width: 83vw;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720) {
    html {
        font-size: 87.5%;
    }
}

.yellow-buscando {
    background-color: var(--background);
}

.logo {
    display: block;
    margin: 16px auto 0;
}

.logo-container {
    margin: 0 auto;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 311px;
    margin: 0 auto;
}

form h3 {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    border-radius: 5px;
    padding: 16px;
    outline: none;
    border: 0;
    font-weight: bold;
    color: var(--black);
    width: 100%;
    margin-bottom: 12px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

input[type="checkbox"] {
    border: 1px solid var(--black);
    height: 20px;
    width: 20px;
    margin-right: 16px;
    margin-top: 12px;
}

input[type="button"] {
    background-color: var(--gray);
    color: var(--black);
}

.forgot-password, .new-user {
    color: var(--black);
    align-self: flex-start;
    margin-bottom: 16px;
    text-decoration: none;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 1rem;
}

.social-media button {
    border: 0;
    border-radius: 5px;
    padding: 16px;
    outline: none;
    font-weight: bold;
    background-color: var(--white);
}

.file-group {
    background-color: var(--white);
    width: 100%;
    cursor: pointer;
}

.file-group > label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
}

#file {
    width: 100%;
    border-radius: 5px;
    padding: 16px;
    color: var(--black);
    font-weight: bold;
}

.user-avatar {
    height: 40px;
    width: 40px;
    color: var(--white);
}

.header-map {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    background-color: transparent;
}

.header-map > img {
    margin-left: 2.3rem;
}

.map iframe {
    height: 85vh;
    width: 100vw;
}

.offcanvas {
    width: 200px;
    height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 15px solid var(--border);
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.offcanvas-body nav ul {
    margin-bottom: 8.5rem;
}

.offcanvas-body nav ul li {
    margin-bottom: 0.75rem;
}

.offcanvas-body nav ul li a {
    font-weight: bold;
}

.complement {
    width: 100vw;
    height: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.complement img {
    height: 24px;
    width: 24px;
    margin-right: 13px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin-top: 1rem;
}

.atual-location, .complement-text {
    display: flex;
    justify-content: center;
}

.atual-location p, .complement-text p {
    line-height: 1.25;
}

.atual-location img, .complement-text img {
    margin: 0 10px 0 10px;
}

#open-details {
    display: block;
    position: relative;
    top: -0.5rem;
    margin: 0 auto;
    left: 2rem;
    right: auto;
    height: 40px;
    width: 40px;
}

.open-modal {
    position: relative;
    margin: 0 auto;
    top: -3rem;
    background-color: var(--gray);
    width: 200px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

.open-modal p {
    margin-bottom: 0;
}

.insert-route li {
    display: flex;
    align-items: center;
}

.track-button {
    background-color: var(--btn-bg);
    border: 0;
    width: 100%;
    margin-block: 0.25rem;
    padding: 1rem;
    border-radius: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-button a {
    color: var(--black) !important;
}

.ver-mais {
    display: block;
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
}

.speak > label{
    height: 3rem;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5rem;
    position: relative;
    width: 20rem;
    border-radius: 0.25rem;
    padding: 0 1rem;
}

.speak label input {
    height: 2rem;
    border: 0;
    outline: none;
    background-color: var(--gray);

    margin-top: 1rem;
}

.star {
    margin-left: 1rem;
    height: 24px;
    width: 24px;
    position: absolute;
    right: -2rem;
}

.infos {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos ul li {
    margin-block: 1rem;
    font-size: 13px;
    color: var(--gray);
}

.infos ul li img {
    margin-right: 1rem;
}

.infos ul li span {
    color: var(--black);
    font-weight: bold;
    margin-left: 1rem;
}

.go-to-you {
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-content: center;
}

.go-to-you p {
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: var(--gray);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
}

.go-back {
    position: absolute;
    margin-left: 1rem;
    bottom: 2rem;
}

.favorites-body {
    background-color: var(--background);
}

.favorites {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.favorites > div {
    background-color: var(--gray);
    width: 80%;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.favorites div ul {
    margin-bottom: 1rem;
}

.favorites div ul li {
    background-color: var(--light-gray);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.favorites div ul li:not(:first-of-type) {
    margin-top: 1rem;
}

.favorites div ul li img {
    margin-right: 1rem;
    margin-top: -0.5rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 0 0.75rem;
    border-radius: 1rem;
}

.search input {
    margin-top: 0.75rem;
    padding: 0.25rem 1rem;
}

.lines li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lines li p:first-of-type {
    margin-top: 1rem;
}

.lines-title {
    font-size: 1rem;
}

.points {
}

.ida ul li p, .volta ul li p {
    margin-top: 1rem;
}

.corujao li {
    margin-right: 0.25rem;
    background-color: var(--green) !important;
    color: var(--white);
}

.corujao li:first-of-type {
    margin-top: 1rem;
}
